<div class="card mt-3">
  <div class="card-body">
    <h6 class="font-weight-bolder">
      <img src="assets/images/icon-doc.png" style="max-height: 30px;">
      <span>Consulta Centrales de Riesgo</span>
    </h6>
    <div class="card">
      <div class="card-body">
        <div class="container">
          <div class="row">
            <div class="col">
              <div class="form-group row">
                <label for="pregunta" class="col-4 col-form-label">¿Desea actualizar información en centrales
                  de riesgo?</label>
                <div class="col-4">
                  <button (click)="confirmar()"
                    class="btn btn-success tamano btn-block">Actualizar Información</button>
                </div>
                <div class="col-8">
                  <div class="custom-control custom-switch">
                    <input type="checkbox" class="custom-control-input" id="customSwitch1">
                    <label class="custom-control-label" for="customSwitch1">Acepto <a href="">Términos y
                        Condiciones</a></label>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

