<button (click)="finalizarAtencion()" class="btn btn-secondary shadow-sm tamano">Finzalizar atención</button>
<div class="modal fade" id="modalFinalizarAtencion" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header border-0">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">Cerrar</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="card shadow-sm rounded-sm">
          <div class="card-body">
            <div class="container-fluid">
              <div class="row">
                <div class="mb-2 col-md-5">
                  <label for="categoria" class="col-form-label">Categoría: <span
                      class="text-danger font-weight-bold">*</span></label>
                </div>
                <div class="mb-2 col-md-7">
                  <select class="form-control input-peque" id="categoria">
                    <option value="" selected disabled>Seleccione</option>
                    <option value=""></option>
                  </select>
                </div>
                <div class="mb-2 col-md-5">
                  <label for="subcategoria" class="col-form-label">Sub categoría: <span
                      class="text-danger font-weight-bold">*</span></label>
                </div>
                <div class="mb-2 col-md-7">
                  <select class="form-control input-peque" id="subcategoria">
                    <option value="" selected disabled>Seleccione</option>
                    <option value=""></option>
                  </select>
                </div>
                <div class="mb-2 col-md-5">
                  <label for="vozcliente" class="col-form-label">Voz de cliente: <span
                      class="text-danger font-weight-bold">*</span></label>
                </div>
                <div class="mb-2 col-md-7">
                  <select class="form-control input-peque" id="vozcliente">
                    <option value="" selected disabled>Seleccione</option>
                    <option value=""></option>
                  </select>
                </div>
                <div class="mb-2 col-md-5">
                  <label for="codigocierrre" class="col-form-label">Código de cierre: <span
                      class="text-danger font-weight-bold">*</span></label>
                </div>
                <div class="mb-2 col-md-7">
                  <select class="form-control input-peque" id="codigocierrre">
                    <option value="" selected disabled>Seleccione</option>
                    <option value=""></option>
                  </select>
                </div>
                <div class="mb-2 col-md-5">
                  <label for="comentarios" class="col-form-label">Comenarios: <span
                      class="text-danger font-weight-bold">*</span></label>
                </div>
                <div class="mb-2 col-md-7">
                  <input type="text" class="form-control input-peque" id="comentarios">
                </div>
                <div class="col-12 text-right">
                  <button type="button" class="btn btn-danger tamano px-5">Enviar</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
