<div class="d-flex justify-content-center">
  <div>
    <h1>My task board</h1>
    <div class="">
      @for (item of tasks.tasks; track $index) {
      <div class="alert alert-{{item.status}}">
        <div class="d-flex justify-content-between align-items-center">
          <div class="">
            <span class="icon-task">{{item.icon}}</span>
            <span class="mx-2">{{item.title}}</span>
          </div>
          <div>
            <img class="icon-task icon-task-{{item.status}}" src="./assets/images/Done_round_duotone.svg"
              alt="Icon-{{item.status}}">
          </div>
        </div>
      </div>
      }
      <div class="alert alert-add">
        <div class="d-flex justify-content-start align-items-center">
          <div class="">
            <img class="icon-task icon-task-progress" src="./assets/images/Add_round_duotone.svg" alt="Icon-Add">
            <span class="mx-2">Add new task</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>