<!-- <button (click)="pruebaModal()" class="btn tamano btn-danger">Prueba modal (Click aquí)</button> -->
<!-- <h2>Validar</h2> -->
<div class="p-3">
  <!-- <div class="d-flex justify-content-end mb-3">
    <app-notif-usuario></app-notif-usuario>
  </div> -->
  <div class="d-flex justify-content-start">
    <div>
      <h5 class="h5 font-weight-bold">Consulta Centrales de Riesgo</h5>
      <div class="p-1 mb-1 bg-danger">
      </div>
    </div>
  </div>
  <div *ngIf="alerta.estado" class="alert text-center {{alerta.color}}" role="alert">
    <h5>{{alerta.texto}}</h5>
  </div>
  <div class="card mt-3">
    <div class="card-body">
      <h6 class="font-weight-bolder">
        <img src="assets/images/report.png" style="max-height: 30px;">
        <span>Validar</span>
      </h6>
      <div class="card">
        <div class="card-body">
          <div class="container">
            <div class="row">
              <div class="col-md-6">
                <div class="form-group row">
                  <label for="nombreusuario" class="col-4 col-form-label">Nombre
                    <span class="text-danger font-weight-bold">*</span></label>
                  <div class="col-8">
                    <input (keyup)="nombreUsuario()" [(ngModel)]="nombre.valor" type="text"
                      class="form-control input-peque" id="nombreusuario">
                    <h6 class="{{nombre.color}} mt-2 font-weight-bold">{{nombre.mensaje}}</h6>
                  </div>
                </div>
                <div class="form-group row">
                  <label for="tipodocumentotitular" class="col-4 col-form-label">Tipo de documento
                    <span class="text-danger font-weight-bold">*</span></label>
                  <div class="col-8">
                    <select [(ngModel)]="datosTitular.tipodocumento" class="form-control input-peque"
                      [(ngModel)]="datosTitular.tipodocumento" id="tipodocumentotitular">
                      <option value="{{tipo.id}}" *ngFor="let tipo of tiposDocumento">{{tipo.nombre}}</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group row">
                  <label for="documentotitular" class="col-4 col-form-label">Número de documento
                    <span class="text-danger font-weight-bold">*</span></label>
                  <div class="col-8">
                    <input [(ngModel)]="datosTitular.documentotitular" type="text"
                      class="form-control input-peque" id="documentotitular">
                  </div>
                </div>
                <div class="row">
                  <div class="col-4"></div>
                  <div class="col-8">
                    <button (click)="pruebaModal()" [disabled]="!botonValidar.estado"
                      class="btn btn-success tamano btn-block">{{botonValidar.texto}}</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
   <!-- AQUÍ SE OCULTA O MUESTRA EL COMPONENTE DEPENDIENDO DE LA VALIDACIONES NECESARIAS ....  -->
   <div *ngIf="consultaCentrales">
    <app-consulta-centrales></app-consulta-centrales>
  </div>
</div>

