<div class="p-3">
  <div class="d-flex justify-content-end">
    <app-base-conocimiento></app-base-conocimiento>
    <app-finalizar-atencion></app-finalizar-atencion>
  </div>
  <div class="d-flex justify-content-start">
    <div>
      <h5 class="h5 font-weight-bold">Consulta Centrales de Riesgo</h5>
      <div class="p-1 mb-1 bg-danger">
      </div>
    </div>
  </div>
  <div class="card mt-3">
    <div class="card-body">
      <h6 class="font-weight-bolder">
        <img src="assets/images/report.png" style="max-height: 30px;">
        <span>Validar</span>
      </h6>
      <div class="card">
        <div class="card-body">
          <div class="container">
            <div class="row">
              <div class="col-md-6">
                <div class="form-group row">
                  <label for="nombreusuario" class="col-4 col-form-label">Nombre
                    <span class="text-danger font-weight-bold">*</span></label>
                  <div class="col-8">
                    <input [disabled]="!datosTitular.nombre.campo" (keyup)="nombreUsuario()"
                      [(ngModel)]="datosTitular.nombre.valor" type="text" class="form-control input-peque"
                      id="nombreusuario">
                    <h6 class="{{datosTitular.nombre.color}} mt-2 font-weight-bold">{{datosTitular.nombre.mensaje}}</h6>
                  </div>
                </div>
                <div class="form-group row">
                  <label for="tipodocumentotitular" class="col-4 col-form-label">Tipo de documento
                    <span class="text-danger font-weight-bold">*</span></label>
                  <div class="col-8">
                    <select [disabled]="!datosTitular.tipoDocumento.campo" class="form-control input-peque"
                      [(ngModel)]="datosTitular.tipoDocumento.valor" id="tipodocumentotitular">
                      <option value="" selected disabled>Seleccione</option>
                      <option value="{{tipo.Id}}" *ngFor="let tipo of tiposDocumento">{{tipo.Description}}</option>
                    </select>
                  </div>
                </div>
                <div class="form-group row">
                  <label for="documentotitular" class="col-4 col-form-label">Número de documento
                    <span class="text-danger font-weight-bold">*</span></label>
                  <div class="col-8">
                    <input [disabled]="!datosTitular.documento.campo" [(ngModel)]="datosTitular.documento.valor"
                      type="text" class="form-control input-peque" id="documentotitular">
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group row">
                  <label for="nacimientotitular" class="col-4 col-form-label">Fecha Inicio <span
                      class="text-danger">*</span></label>
                  <div class="col-8">
                    <input (keyup)="validarFechaInicio(); validarFechaFin()"
                      (change)="validarFechaInicio(); validarFechaFin()" [disabled]="!datosTitular.fechaInicio.campo"
                      [(ngModel)]="datosTitular.fechaInicio.valor" type="date" class="form-control input-peque"
                      id="nacimientotitular">
                    <h6 class="font-weight-bold mt-2 {{datosTitular.fechaInicio.color}}">
                      {{datosTitular.fechaInicio.mensaje}}</h6>
                  </div>
                </div>
                <div class="form-group row">
                  <label for="nacimientotitular" class="col-4 col-form-label">Fecha Fin <span
                      class="text-danger">*</span></label>
                  <div class="col-8">
                    <input (keyup)="validarFechaFin(); validarFechaInicio()"
                      (change)="validarFechaFin(); validarFechaInicio()" [disabled]="!datosTitular.fechaFin.campo"
                      [(ngModel)]="datosTitular.fechaFin.valor" type="date" class="form-control input-peque"
                      id="nacimientotitular">
                    <h6 class="font-weight-bold mt-2 {{datosTitular.fechaFin.color}}">
                      {{datosTitular.fechaFin.mensaje}}</h6>
                  </div>
                </div>
                <div class="row">
                  <div class="col-4"></div>
                  <div class="col-8">
                    <button (click)="pruebaModal()" [disabled]="!botonValidar.estado"
                      class="btn btn-success tamano btn-block">{{botonValidar.texto}}</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- AQUÍ SE OCULTA O MUESTRA EL COMPONENTE DEPENDIENDO DE LA VALIDACIONES NECESARIAS ....  -->
  <div *ngIf="consultaCentrales">
    <app-consulta-centrales></app-consulta-centrales>
  </div>
</div>
<app-factura></app-factura>
