/* CHALLENGE */
.alert {
  border-radius: 10px;
  font-weight: bolder;
}

.alert-completed {
  background-color: #A0ECB1;
}

.alert-progress {
  background-color: #F5D565;
}

.alert-won {
  background-color: #F7D4D3;
}

.alert-created {
  background-color: #E3E8EF;
}

.icon-task {
  background-color: #F8FAFC;
  padding: 6px;
  border-radius: 10px;
}

.icon-task-completed {
  background-color: #32D657;
}

.icon-task-progress {
  background-color: #E9A23B;
}

.icon-task-won {
  background-color: #DD524C;
}

.icon-task-created {
  background-color: #97A3B6;
}

.alert-add {
  background-color: #F5E8D5;
}

/* CHALLENGE */